/* buttons.css */
/* Every style property for different buttons
 * Uses IDs to differentiate every button from themselves */

/* Player colors */
.purple {
  /* border-color: var(--player_blue) !important; */
  color: var(--player_purple) !important;
  --player-light: #DA5CFF;
  --player-mid:   #C910FF;
  --player-dark:  #64087F;
}
.red {
  /* border-color: var(--player_red) !important; */
  color: var(--player_red) !important;
  --player-light: #FF655F;
  --player-mid:   #FF1B12;
  --player-dark:  #7F0D09;
}
.green {
  /* border-color: var(--player_green) !important; */
  color: var(--player_green) !important;
  --player-light: #7EFF61;
  --player-mid:   #3FFF14;
  --player-dark:  #207F0A;
}
.yellow {
  /* border-color: var(--player_orange) !important; */
  color: var(--player_yellow) !important;
  --player-light: #FFEB5C;
  --player-mid:   #FFE110;
  --player-dark:  #7F7108;
}

.button.pressed {
  opacity: 0.6666666667;
}
