/* debug.css -- DEBUG STYLESHEETS! */
/* Start every class with dbg- prefix! */
*[class^="dbg-"]::before{
  content: "> ";
}
*[class^="dbg-"]::after {
  content: "";
}
*[class^="dbg-button-"] {
  position: absolute;
  border: 2px solid silver !important;
  background: white !important;
  color: black !important;
  width: 11em;
  height: 2em;
  padding: 0px;
  margin: 0px;
  left: 1em;
}

.dbg-button-1 {
  top: 2em;
}
.dbg-button-2 {
  top: 5em;
}