.controller, .menu {
    background: #454545;
    display: grid;
    height: 100%;
}
.controller {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows:    1fr 1fr;
}
.menu {
    grid-template-columns: 1fr 1fr;
    grid-template-rows:    1fr;
}
#movement {
    grid-row: 1/3;
    grid-column: 1/3;
}
/* #movement-left,
#movement-right {
    grid-row: 1/3;
    height: 100%;
}
#movement-right {
    grid-column: 2/3;
}
#movement-left {
    grid-column: 1/2;
} */
#yeti-bomb,
#yeti-break,
#blockmaster-drop {
    grid-column: 3/4;
}
#yeti-bomb {
    grid-row: 1/2;
}
#yeti-break {
    grid-row: 2/3;
}
#blockmaster-drop {
    grid-row: 1/3;
}