/* AirConsole controller main css file */
/* Imports */
@import 'Variables.css'; /* Variables for the whole style sheet */
@import 'Buttons.css'; /* For the button face styles */
@import 'Grid.css';
@import 'Debug.css'; /* General debugging styles */

/* Using box-sizing as border-box everywhere */
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

/* Making sure the page is the whole screen */
html, body,
.buttons-container {
  margin:  0;
  padding: 0;
  width:  100vw;
  height: 100vh;
  overflow: hidden;
}

#mov-canv {
  position: absolute;
  top: 0;
  left: 0;
}

.buttons-container {
  justify-content: space-between;
  color:      white;
  background: #454545;
}

.button {
  text-align: left;
  background: #454545;
  border-style: solid;
  border-width: 3px;
}
svg.button {
  border: 0px solid transparent;
}

.hidden {
  display: none;
}

.blockfeud-logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  background-image: url(../Images/block_feud_logoV02.png);
  background-size: contain;
}
