/* varialbes.css => main.css */
*:root {
    --player_color: #fff;
    --player_red: #aa0000;
    --player_yellow: #dddd00;
    --player_green: #00aa00;
    --player_purple: #aa00aa;

    --player-dark: #959595;
    --player-mid: #aaaaaa;
    --player-light: #d5d5d5;
}
